
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;700;800;900&family=Freehand&family=Glory&family=IBM+Plex+Sans+Arabic:wght@300&family=Italianno&family=Karla:wght@200&family=Mukta:wght@300&family=Noto+Kufi+Arabic:wght@200&family=Outfit:wght@200&family=Overpass:wght@100&family=Poppins:wght@200&family=Quattrocento+Sans&family=Reem+Kufi&family=Roboto&family=Rubik:wght@300&family=Tajawal&display=swap');
*{
  background-color: rgb(238, 263, 188)
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
font-family: 'Reem Kufi', sans-serif;

}
.btn {
  display: flex;
  gap: 10px;
}

.btn button{
  background-color: red;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.login{
  
}